@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: poppins;
  font-weight: 400;
}

.font-kalam {
  font-family: kalam;
  font-weight: 400;
}
